<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.JudgeMapper">

    <resultMap id="judgeResultMap" type="org.example.entity.judge.Judge">
        <result property="submitId" column="submit_id"/>
        <result property="qid" column="qid"/>
        <result property="uid" column="uid"/>
        <result property="language" column="language"/>
        <result property="codeContent" column="code_content"/>
        <result property="status" column="judge_status"/>
        <result property="score" column="score"/>
        <result property="errorMessage" column="error_message"/>
        <result property="createTime" column="judge_create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="caseJudgeResults" ofType="org.example.entity.judge.CaseJudgeResult">
            <result property="submitId" column="submit_id"/>
            <result property="qid" column="qid"/>
            <result property="caseId" column="case_id"/>
            <result property="time" column="time"/>
            <result property="memory" column="memory"/>
            <result property="status" column="case_status"/>
            <result property="createTime" column="case_create_time"/>
            <result property="inputDataUrl" column="input_data_url"/>
            <result property="outputDataUrl" column="output_data_url"/>
            <result property="userOutput" column="user_output"/>
        </collection>
    </resultMap>

    <insert id="addJudgeResult" parameterType="org.example.entity.judge.Judge">
        INSERT INTO judge (submit_id, qid, uid, code_content, language, status, score, error_message, create_time, update_time)
        VALUE (#{submitId}, #{qid}, #{uid}, #{codeContent}, #{language},
               #{status}, #{score}, #{errorMessage}, #{createTime}, #{updateTime})
    </insert>

    <insert id="addCaseResult" parameterType="list">
        <if test="list != null and list.size() > 0">
            INSERT INTO judge_case (submit_id, qid, case_id, status, time, memory, input_data_url, output_data_url, user_output, create_time)
            VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.submitId}, #{item.qid}, #{item.caseId}, #{item.status}, #{item.time}, #{item.memory},
                #{item.inputDataUrl}, #{item.outputDataUrl}, #{item.userOutput}, #{item.createTime})
            </foreach>
        </if>
    </insert>

    <update id="updateJudgeResult">
        UPDATE judge
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="score != null">score = #{score},</if>
            <if test="codeContent != null">code_content = #{codeContent},</if>
            <if test="errorMessage != null">error_message = #{errorMessage},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="language != null">language = #{language},</if>
        </set>
    </update>


    <select id="getJudgeBySubmitId" resultMap="judgeResultMap">
        SELECT
            judge.submit_id,
            judge.qid,
            judge.uid,
            judge.code_content,
            judge.language,
            judge.status AS judge_status,
            judge.score,
            judge.error_message,
            judge.create_time AS judge_create_time,
            judge.update_time,
            judge_case.case_id,
            judge_case.status AS case_status,
            judge_case.time,
            judge_case.memory,
            judge_case.input_data_url,
            judge_case.output_data_url,
            judge_case.user_output,
            judge_case.create_time AS case_create_time
        FROM
            judge LEFT JOIN
            (
                SELECT
                    jc.submit_id,
                    jc.case_id,
                    jc.status,
                    jc.time,
                    jc.memory,
                    jc.input_data_url,
                    jc.output_data_url,
                    jc.user_output,
                    jc.create_time
                FROM
                    judge_case jc INNER JOIN
                    (
                        SELECT
                            submit_id,
                            case_id,
                            MAX(create_time) AS max_create_time
                        FROM
                            judge_case
                        GROUP BY
                            submit_id, case_id
                    ) latest_case
                    ON jc.submit_id = latest_case.submit_id
                        AND jc.case_id = latest_case.case_id
                        AND jc.create_time = latest_case.max_create_time
            ) judge_case
            ON judge.submit_id = judge_case.submit_id
        WHERE judge.submit_id = #{submitId}
        ORDER BY judge_case.case_id;
    </select>


</mapper>